<footer class="footer text-center">
   <div class="container">
     <p class="footer-text">Created by <kbd>Teplyy M</kbd> in <kbd>2017</kbd></p>
   </div>
   <!-- Link: -->
   <!-- {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}} -->
 </footer>
